<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, 
                                    initialize-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block title %}Title{% endblock %}</title>
        {% block styles %} {% endblock %}
    
    </head>
    <body>
        <header class="header">
        <div class = "logocontainer">
            <div class="circle"> </div>
            <a href="#" class="name">Central Bookings</a>
            </div>
            <nav class = "navbar">
                <a href="#" class ="profile">Profile</a>
                <a href="#" class ="logout">Logout</a>
            </nav>
        </div>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>