body{
    background-color: rgb(245,240,233);
    margin: 0px;
    padding: 0px;
}
* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: rgb(17,34,80);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
}

.navbar a.profile{
     font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
}

.navbar a.logout{
     font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.circle {
    width: 50px;      
    height: 50px;         
    background-color: rgb(224, 181, 143);
    border-radius: 50%;  
    margin-right: 15px;  
}
.logocontainer {
    display: flex;
    align-items: center;
}


.information {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 10px;
    margin: 50px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: rgb(217,203,194);

}
.column {
    display: flex;
    flex-direction: column;
}
.information h1,
.information p {
    margin: 8px;         
    padding: 0;
}

.Participant_information{
    display: grid;
    grid-template-columns: 1fr; 
    padding: 10px;
    margin: 80px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: rgb(217,203,194);
}

.organizerInfo{
    font-size: 20px;
    padding: 0px;
}

.participantInfo{
    font-size: 20px;
    padding: 0px;
}

.MyActivities{
    display:flex; 
    align-items: center;    
    justify-content: center;
    font-size: 30px;
}


.InfoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(17,34,80);  
    margin: 20px;
}

.InfoGrid .InfoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    padding: 15px;
}

.activityGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(217,203,194);  
    margin: 20px;
}
.activityGrid .ActivityCell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 40px;
}

.profileBookingGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(217,203,194);  
}

.profileBookingGrid .BookingCell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 40px;
}
.ProfileViewInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(17,34,80);  
    margin: 20px;
}

.ProfileViewInfo .ProfileViewIH{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    padding: 15px;
}