body{
    background-color: rgb(245,240,233);
    margin: 0px;
    padding: 0px;
}
* {
  box-sizing: border-box;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 10px;
    margin: 50px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: rgb(217,203,194);

}
.column {
    display: flex;
    flex-direction: column;
}
.information h1,
.information p {
    margin: 8px;         
    padding: 0;
}

.Participant_information{
    display: grid;
    grid-template-columns: 1fr; 
    padding: 10px;
    margin: 80px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: rgb(217,203,194);
}

.organizerInfo{
    font-size: 20px;
    padding: 0px;
}

.participantInfo{
    font-size: 20px;
    padding: 0px;
}

.MyActivities{
    display:flex; 
    align-items: center;    
    justify-content: center;
    font-size: 30px;
}


.InfoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(17,34,80);  
    margin: 20px;
}

.InfoGrid .InfoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    padding: 15px;
}

.activityGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(217,203,194);  
    margin: 20px;
}
.activityGrid .ActivityCell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 40px;
}

.profileBookingGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(217,203,194);  
}

.profileBookingGrid .BookingCell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    padding: 40px;
}
.ProfileViewInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: rgb(17,34,80);  
    margin: 20px;
}

.ProfileViewInfo .ProfileViewIH{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    padding: 15px;
}