{% extends "base.html" %}
{% load static %}


{% block title %}Book an Activity{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}

{% block content %}
 <div class="CreateHeader"><h1>Book An Activity</h1></div>
{{ filter_form.errors }}
<form class="filter-form" method="get">
    {{ filter_form.as_p }}
    <button type="submit">Filter</button>  
    {% if request.GET %}  
    <div></div>
    <a href="{% url 'main:activity-list' %}">Clear Filters</a>  <!-- Link to reset filters -->  
{% endif %}  
</form>

{% if schedules %}
    <div class="BookingHeader">
        <div class="InfoHeader">Organizer</div>
        <div class="InfoHeader">Activity</div>
        <div class="InfoHeader">Location</div>
        <div class="InfoHeader">Date</div>
        <div class="InfoHeader">Start Time</div>
        <div class="InfoHeader">End Time</div>
        <div class="InfoHeader">Expected Participants</div>
    </div>
    <div class="BookingGrid">
        {% for x in schedules %}
        <tr> 
            <div class ="BookingCell">{{ x.activity.organizer.name }} </div>
            <div class ="BookingCell">{{ x.activity.activity_name }}</div>
            <div class ="BookingCell">{{ x.location.building }}</div>
            <div class ="BookingCell">{{ x.date }}</div>
            <div class ="BookingCell">{{ x.start_time|date:"H:i" }}</div>
            <div class ="BookingCell">{{ x.end_time|date:"H:i" }}</div>
            <div class ="BookingCell">{{ x.expected_participants }} </div>
            <div class ="BookingCell"><td><form action="{% url 'main:book_schedule' x.schedule_ID %}" method="post">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        {% if x.schedule_ID in booked_ids %}
                            <button class="betterbtn" type="submit">Unbook</button>
                        {% elif x.expected_participants >= x.location.max_capacity %}
                            <button class="betterbtn" type="submit" disabled>Full</button>
                        {% else %}
                            <button class="betterbtn" type="submit">Book Activity</button>
                        {% endif %}
                    {% else %}
                        <button class="betterbtn" type="button" disabled>Login to Book</button>
                    {% endif %}
                </div>
            </form></td>

        {% endfor %}
    </div>

    {% else %}
    <p>No schedules found.</p>
{% endif %}

<div class ="centerButton">
<a href="/activity/"><button class="betterbtn" style="margin-left: 20px; float: left; margin-bottom: 20px">Go back</button></a>
</div>
<br>
{% endblock %}

