{% extends "base.html" %}
{% load static %}


{% block title %}Book an Activity{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}

{% block content %}
    <div class="CreateHeader">
        <h3 style="margin-left: 40px">{{ sched.activity.activity_name }}</h3>
        <div class="information">
            <p class="activityInfo"><u>Date & Time:</u> {{ sched.date }} from {{ sched.start_time }} to {{ sched.end_time }}</p>
            <p class="activityInfo"><u>Location:</u> {{ sched.location }}</p>
            <p class="activityInfo"><u>Organized by:</u> {{ sched.activity.organizer.name }}</p>
            <p class="activityInfo"><u>Total number of expected participants:</u> {{ sched.expected_participants }}</p>
        </div>
    </div>
   
    </div>
    
    <div class="CreateHeader"><h4>List of Participants</h4></div>
    <form method="POST">
        {% csrf_token %}

        {% if bookings %}
            <div class="participantlistGrid">
                <div class="listHeader">Participant ID</div>
                <div class="listHeader">Name</div>
                <div class="listHeader">Type</div>
                <div class="listHeader">Booked At</div>
                <div class="listHeader">Attended?</div>
            </div>

            <div class ="contentlistGrid">
                {% for x in bookings %}
                    <div class="listCell">{{ x.participant.participant_ID }}</div>
                    <div class="listCell">{{ x.participant.last_name }}, {{ x.participant.first_name }} {{ x.participant.middle_name }}</div>
                    <div class="listCell">{{ x.participant.get_participant_type_display }}</div>
                    <div class="listCell">{{ x.booking_date }}</div>
                    <div class="listCell">
                        <input type="checkbox" name="attended" value="{{ x.booking_ID }}" {% if x.has_attended %}checked{% endif %}>
                    </div>
                {% endfor %}
            </div>
        
        {% else %}
            <p>No sign-ups yet.</p>
        {% endif %}
        <button class="betterbtn" type="submit" style="float:right; margin-right: 20px">Update Attendance</button>
    </form>
        
    
    <div class ="centerButton">
        <a href="/activity/"><button class="betterbtn" style="float: left; margin-left: 20px; margin-bottom: 20px;">Go back</button></a>
    </div>

{% endblock %}