{% extends "base.html" %}
{% load static %}

{% block title %}Organizer Information{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}

{% block content %}
    <div class="CreateHeader"><h1>CREATE A NEW ACTIVITY</h1></div>

<form method="POST" class="ActivityForm">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="Activity">{{ field.label }}  <br> <div class="Field">{{ field }}</div>    {% if field.errors %}
                <div class="error">{{ field.errors }}</div>{% endif %}</div>
        </div>
    {% endfor %}


    <button type="submit" class="button">Submit Form</button>
</form>
<br>
</body>
</html>

{% endblock %}