{% extends "base.html" %}
{% load static %}


{% block title %}Create Activity{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}

{% block content %}
<h2 class="CreateHeader">What activity would you like to create?</h2>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="Activity">{{ field.label }}  <br> <div class="Field" style="width: 1500px;">{{ field }}</div>    {% if field.errors %}
                <div class="error">{{ field.errors }}</div>{% endif %}</div>
        </div>
    {% endfor %}

    <button type="submit" class="button">Save</button>
</form>
<br>
<a href="http://localhost:8000/activity/"><button class="button">Back to list of activities</button></a>
{% endblock %}