{% extends "base.html" %}
{% load static %}


{% block title %}Activity List{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}


{% block content %}


    <div class="CreateHeader"><h1>ACTIVITY LIST</h1></div>
        {{ filter_form.errors }}
        <form class="filter-form" method="get">
              {% for field in filter_form %}
                 {{ field }} {% endfor %}
            <button type="submit">Filter</button>  
            {% if request.GET %}  
            <a href="{% url 'main:activity-list' %}">Clear Filters</a>  <!-- Link to reset filters -->  
        {% endif %}  
        </form>   
    {% if schedules %}

    <div class="InfoGrid">
        <div class="InfoHeader">Organizer</div>
        <div class="InfoHeader">Activity</div>
        <div class="InfoHeader">Location</div>
        <div class="InfoHeader">Date</div>
        <div class="InfoHeader">Start Time</div>
        <div class="InfoHeader">End Time</div>
        <div class="InfoHeader">Expected Participants</div>
    </div>


    <div class ="activityGrid">      
        {% for x in schedules %}          
        <div class="ActivityCell">{{ x.organizer.name }}</div>
        <div class="ActivityCell">{{ x.activity.activity_name }}</div>
        <div class="ActivityCell">{{x.location}}</div>
        <div class="ActivityCell">{{ x.date }}</div>
        <div class="ActivityCell">{{ x.start_time|date:"H:i"}}</div>
        <div class="ActivityCell">{{  x.end_time|date:"H:i" }}</div>
        <div class="ActivityCell">{{ x.expected_participants }}</div>
        {% empty %}
        {% endfor %}
    </div>
      {% else %}
            <p>No schedules found.</p>
        {% endif %}
        <a href="create/"><button>Create an activity</button></a>
        <a href="schedule/create/"><button>Create a schedule</button></a>
        <a href="book"><button>Book an activity</button></a>
    </body>
</html>




{% endblock %}


