{% extends "base.html" %}
{% load static %}


{% block title %}Activity List{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}


{% block content %}


    <div class="CreateHeader"><h1>ACTIVITY LIST</h1></div>
        {{ filter_form.errors }}
        <form class="filter-form" method="get">
              {% for field in filter_form %}
                 {{ field }} {% endfor %}
            <button type="submit">Filter</button>  
            {% if request.GET %}  
            <a href="{% url 'main:activity-list' %}">Clear Filters</a>   
        {% endif %}  
        </form>   

    {% if request.user.organizer %}
        <a href="create/"><button class="btn-primary">Create an activity</button></a>
        <a href="schedule/create/"><button class="btn-primary">Create a schedule</button></a>
    {% elif request.user.participant %}
        <a href="book"><button class="btn-primary">Book an activity</button></a>
    {% endif %}
    
    {% if schedules %}

    <div class="InfoGrid">
        <div class="InfoHeader">Organizer</div>
        <div class="InfoHeader">Activity</div>
        <div class="InfoHeader">Location</div>
        <div class="InfoHeader">Date</div>
        <div class="InfoHeader">Start Time</div>
        <div class="InfoHeader">End Time</div>
        <div class="InfoHeader">Expected Participants</div>
    </div>


    <div class ="activityGrid">      
        {% for x in schedules %}     

        <div class="ActivityCell">{{ x.organizer.name }}</div>
        {% if request.user == x.organizer.user %}
            <div class="ActivityCell"><a href="http://localhost:8000/activity/details/{{ x.schedule_ID }}">{{ x.activity.activity_name }}</a></div>
        {% else %}
            <div class="ActivityCell">{{ x.activity.activity_name }}</a></div>
        {% endif %}
        
        <div class="ActivityCell">{{x.location}}</div>
        <div class="ActivityCell">{{ x.date }}</div>
        <div class="ActivityCell">{{ x.start_time|date:"H:i"}}</div>
        <div class="ActivityCell">{{  x.end_time|date:"H:i" }}</div>
        <div class="ActivityCell">{{ x.expected_participants }}</div>
        {% empty %}
        {% endfor %}
    </div>
      {% else %}
            <p>No schedules found.</p>
        {% endif %}
    </body>
</html>




{% endblock %}


