{% extends "base.html" %}
{% load static %}


{% block title %}Organizer Information{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}


{% block content %}
    <div class="CreateHeader">
        {% if is_edit %}
            <h1>EDIT ACTIVITY</h1>
        {% else %}
            <h1>CREATE A NEW ACTIVITY</h1>
        {% endif %}</div>


<form method="POST" class="ActivityForm">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="Activity">{{ field.label }}  <br> <div class="Field" style="width: 1500px;">{{ field }}</div>    {% if field.errors %}
                <div class="error">{{ field.errors }}</div>{% endif %}</div>
        </div>
    {% endfor %}

    <button type="submit" class="button">Submit Form</button>
</form>
<br>


{% endblock %}

