{% extends "base.html" %}
{% load static %}


{% block title %}Activity List{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/styles/design.css' %}">
{% endblock %}


{% block content %}


    <div class="CreateHeader"><h1>ACTIVITY LIST</h1></div>
        {% if request.user.organizer %}
        {{ filter_form.errors }}
        <form class="filter-form" method="get">
              {% for field in filter_form %}
                 {{ field }} {% endfor %}
            <button type="submit">Filter</button>  
            {% if request.GET %}  
            <a href="{% url 'main:activity-list' %}">Clear Filters</a>   
            {% endif %}  
        </form>   
        {% endif %} 

    {% if request.user.organizer %}
        <a href="create/"><button class="btn-primary" style="margin-left: 20px">Create an activity</button></a>
        <a href="schedule/create/"><button class="btn-primary">Create a schedule</button></a>
    {% elif request.user.participant %}
        <a href="book"><button class="btn-primary" style="margin-left: 20px">Book an activity</button></a>
    {% endif %}
    
    {% if schedules %}

    {% if request.user.organizer %}
        <div class="InfoGridOrganizer">
    {% elif request.user.participant %}
        <div class="InfoGridParticipant">
    {% endif %}
            <div class="InfoHeader">Organizer</div>
            <div class="InfoHeader">Activity</div>
            <div class="InfoHeader">Location</div>
            <div class="InfoHeader">Date</div>
            <div class="InfoHeader">Start Time</div>
            <div class="InfoHeader">End Time</div>
            <div class="InfoHeader">Expected Participants</div>
            <div class="InfoHeader"></div>
        </div>

    {% if request.user.organizer %}
        <div class ="ActivityGridOrganizer">
    {% elif request.user.participant %}
        <div class ="ActivityGridParticipant">
        {% endif %} 
        {% for x in schedules %}     

        <div class="ActivityCell">{{ x.activity.organizer.name }}</div>
        <div class="ActivityCell">{{ x.activity.activity_name }}</div>
        
        <div class="ActivityCell">{{x.location}}</div>
        <div class="ActivityCell">{{ x.date }}</div>
        <div class="ActivityCell">{{ x.start_time|date:"H:i"}}</div>
        <div class="ActivityCell">{{  x.end_time|date:"H:i" }}</div>

        {% if request.user == x.activity.organizer.user %}
            <div class="ActivityCell"><a href="http://localhost:8000/activity/details/{{ x.schedule_ID }}">{{ x.expected_participants }}</a></div>
        {% else %}
            <div class="ActivityCell">{{ x.expected_participants }}</a></div>
        {% endif %}
        {% if request.user == x.activity.organizer.user %}
            <div class="ActivityCell"><a href="http://localhost:8000/activity/edit/{{ x.schedule_ID }}">
                <button class="btn-primary">Edit</button></a></div>
        {% elif request.user.organizer %}
            <div class="ActivityCell"></a></div>
        {% endif %}        

        {% empty %}
        {% endfor %}
        </div>
        {% else %}
            <p>No schedules found.</p>
        {% endif %}
    </body>
</html>




{% endblock %}


