{% extends "base.html" %}
{% load static %}

{% block title %}Organizer Information{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'Profile/styles/design.css' %}">
{% endblock %}

{% block content %}
    <div class = "information">
        <h1 class = "OrganizerID">ID Number: {{organizer.organizer_id}}</h1>
        <h1 class = "OrganizerID">Name: {{ organizer.name }}</h1>
        <p class = "organizerInfo">Contact Person: {{organizer.contact_person.first_name}} {{organizer.contact_person.middle_name}} {{organizer.contact_person.last_name}}</p>
        <p class = "organizerInfo">Contact email: {{organizer.contact_person.contact_email}}</p>
        <p class = "organizerInfo">Contact number: {{organizer.contact_person.contact_number}}</p>
        <p class = "organizerInfo">Type: {{ organizer.organizer_type }}</p>
        <p class = "organizerInfo">Address: {{ organizer.street }} {{ organizer.barangay }} {{ organizer.city }} {{ organizer.region }}</p>

    </div>

    <div class="MyActivities"><h1>My Activities</h1></div>
    
    <div class="InfoGrid">
        <div class="InfoHeader">Activity</div>
        <div class="InfoHeader">Location</div>
        <div class="InfoHeader">Date</div>
        <div class="InfoHeader">Start Time</div>
        <div class="InfoHeader">End Time</div>

    </div>

    <div class ="activityGrid">      
        {% for schedule in scheds %}    
        {% if schedule.activity.organizer == organizer %}       
        <div class="ActivityCell">{{ schedule.activity.activity_name }}</div>
        <div class="ActivityCell">{{ schedule.location }}</div>
        <div class="ActivityCell">{{ schedule.date }}</div>
        <div class="ActivityCell">{{ schedule.start_time |time:"H:i"}}</div>
        <div class="ActivityCell">{{ schedule.end_time |time:"H:i"}}</div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>

{% endblock %}