{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Information</title>
    <link rel="stylesheet" href="{% static 'Profile/styles/design.css' %}">
</head>
<h1>Organizer Information</h1>
<h1> Organizer ID: {{organizer.organizer_id}}</h1>
<h1>Name: {{ organizer.name }}</h1>
<p>Contact Person: {{organizer.contact_person.contact_name}}</p>
<p>Contact email: {{organizer.contact_person.contact_email}}</p>
<p>Contact number: {{organizer.contact_person.contact_number}}</p>
<p>Type: {{ organizer.organizer_type }}</p>
<p>Address: {{ organizer.address }}</p>

<h1>Activities organized by {{organizer.name}}</h1>
<ul>
{% for schedule in organizer.activity_schedule_set.all %}           
<strong>{{ schedule.activity.activity_name }}</strong><br>
Date: {{ schedule.date }}<br>
Time: {{ schedule.start_time }} - {{ schedule.end_time }}<br>
Location: {{ schedule.location }} <br>
{% empty %}
    <li>No activities scheduled.</li>
{% endfor %}
</ul>