<h1>Activity Booking Summary</h1>
<h1>Participant: {{participant.name}}</h1>
<h1>Birth Date: {{participant.birth_date}}</h1>
<p>Department: {{ participant.department }}</p>
<p>ID Number: {{participant.participant_ID}} </p>
<p>Participant Type: {{participant.participant_type}}</p>

<h1>Schedule</h1>


<ul>
{% for booking in participant.activity_booking_set.all %}
<strong>{{ booking.schedule.activity.activity_name }}</strong><br>
Date: {{ booking.schedule.date }}<br>
Time: {{ booking.schedule.start_time }} - {{ booking.schedule.end_time }}<br>
Location: {{ booking.schedule.location }} <br>
{% empty %}
    <li>No activities scheduled.</li>
{% endfor %}
</ul>