body{
    background-color: rgb(245,240,233);
    margin: 0px;
    padding: 0px;
}

main {
	margin: 4 4;
	flex: 1;
}

* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: rgb(17,34,80);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
}

.navbar a.profile{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
}

.navbar a.logout{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
}

.navbar a.activity_list{
     font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(224, 181, 143);
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.circle {
    width: 50px;      
    height: 50px;         
    background-color: rgb(224, 181, 143);
    border-radius: 50%;  
    margin-right: 15px;  
}
.logocontainer {
    display: flex;
    align-items: center;
}


.btn-primary {
	background-color: #3C5070;
	color: #FFFFFF;
	font-weight: bold;
	padding: 8px 16px 6px 16px;
  border-radius: 8px;

}

.btn-primary:hover {
	background-color: #4A7FA7;
	color: #ffffff;
	outline: none !important;
  border-radius: 8px;

}

.form_information {
    display: grid;
    grid-template-columns: 1fr; 
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 8px;
    background-color: rgb(217,203,194);
}