{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
    {% if not request.user.is_authenticated %}
        <h1 style="font-size: 46px">Welcome to Central Bookings!</h1>

        <h4 style="margin-bottom: 25px"><a class="btn-primary" href="{% url 'login' %}" style="text-decoration:none;">Already have an account? Sign up here.</a></h4>
        <h4 style="margin-bottom: 25px"><a class="btn-primary" href="{% url 'UserManagement:register-participant' %}" style="text-decoration:none;">Sign up as Participant</a></h4>
        <h4 style="margin-bottom: 25px"><a class="btn-primary" href="{% url 'UserManagement:register-organizer' %}" style="text-decoration:none;">Sign up as Organizer</a></h4>
    {% else %}
        {% if request.user.participant %}
            <h1 style="font-size: 46px">Hi, {{ request.user.participant.first_name }}!</h1>
        {% endif %}

        {% if request.user.organizer %}
           <h1 style="font-size: 46px">Hi, {{ request.user.organizer.name }}!</h1>
        {% endif %}

        <h1 style="font-size: 46px">Welcome to Central Bookings.</h1>

    {% endif %}
</div>

{% endblock %}
